.edit-container {
        width: clamp(500px, 40vw, 700px);
        margin: 30px auto;
}


.back-btn {
        height: 25px;
}

.mat-label {
   text-align: center;
   font-size:larger;
}

.h1 {
        text-align: center;
        margin-bottom: 15px;
}