<div class="pref-container" *ngIf="this.EditProfStepperService.secondChoice === 'View Project Interests'">
  <mat-label class="mat-label">Your current interests are selected</mat-label>
  <mat-chip-list class="mat-chip-list">
    <app-niche-chips-list></app-niche-chips-list>
  </mat-chip-list>
  <button class="submit-btn"
    [disabled]="chipsService.isInNicheRange() === true || this.changeUserPrefs.submittedOnce === true" mat-raised-button
    type="submit" (click)="this.changeUserPrefs.submitInterests()">Submit Changes</button>
</div>
<div class="pref-container" *ngIf="this.EditProfStepperService.secondChoice === 'View Skillsets'">
  <mat-label class="mat-label">Your current skills / roles are selected</mat-label>
  <mat-chip-list>
    <app-skills-chips-list></app-skills-chips-list>
  </mat-chip-list>
  <button class="submit-btn"
    [disabled]="this.chipsService.isInSkillRange() === true || this.changeUserPrefs.submittedOnce === true"
    mat-raised-button type="submit" (click)="this.changeUserPrefs.submitSkills()">Submit Changes</button>
</div>
