<mat-card class="mat-card">
  <div *ngIf="isSignUp">
    <h3 class="h3">Create Account</h3>
    <button mat-stroked-button (click)="changeType('login')">
      Returning user?
    </button>
  </div>
  <div *ngIf='isLogin'>
    <h3 class="h3">Sign in</h3>
    <button size="small" mat-stroked-button (click)="changeType('signup')">
      New User?
    </button>
  </div>
  <div *ngIf="isPasswordReset">
    <button size="small" mat-button (click)="changeType('login')">Back</button>
  </div>
  <form [formGroup]='form' class="form">
    <mat-form-field [color]='email!.valid && "accent"'>
      <input class="input" matInput formControlName="email" placeholder="Email" autocomplete="off">
      <mat-error *ngIf="email?.invalid && email?.dirty">You must enter a valid email address</mat-error>
    </mat-form-field>
    <mat-error class="server-error">{{this.LoginFormService.serverMessage}}</mat-error>
    <button type="button" class="submit" routerLink="/user/register" mat-stroked-button
      [disabled]='email?. invalid ? true: false' (click)="onSubmit()">
      <ng-container *ngIf="isSignUp">
        Register
      </ng-container>
      <ng-container *ngIf="isLogin">
        Login
      </ng-container>
    </button>
  </form>
  <!-- <button mat-button *ngIf="isLogin && !isPasswordReset" (click)="changeType('reset')">Forgot Password?</button> -->
</mat-card>
