<ng-container *ngIf="EditProfStepperService.firstChoice === 'Account Information'">
  <app-sub-option-tier Title="Change your Email"></app-sub-option-tier>
  <app-sub-option-tier Title="Change your Name"></app-sub-option-tier>
</ng-container>
<ng-container *ngIf="EditProfStepperService.firstChoice=== 'Profile Preferences'">
  <ng-container *ngIf="UserAndProjectInfo.userType === 'user'">
    <app-sub-option-tier Title="View Project Interests"></app-sub-option-tier>
    <app-sub-option-tier Title="View Skillsets"></app-sub-option-tier>
  </ng-container>
</ng-container>
<ng-container *ngIf="EditProfStepperService.firstChoice=== 'Deactivate Your Account'">
  <button mat-raised-button (click)="this.deleteProfileService.sendEmailLink()">Verify that it's You</button>
</ng-container>
