<div class="login-container">
  <div *ngIf="!(afAuth.authState | async)" class="login-page">
    <h1 class="h1">Login</h1>
    <button mat-raised-button appGoogleSignIn
      [routerLink]="this.userAndProjectInfo.profileCompleted === true ? '' :  '/user/register'">
      <img src="./assets/misc-assets/google-logo.svg">Login With Google
    </button>
    <h5 class="h5">OR</h5>
    <app-login-form></app-login-form>
  </div>
</div>
<!-- 
Ok so google confirms we'll implement an email
verified logic as an auth guard so that 
it automatically

  
-->
