.prof-container {
    margin: auto;
    width: clamp(300px, 90vw, 700px);
}
.project-name {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.prof-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.all-imgs {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;    
}
.main-pic-wrapper {
    display: flex;
    
    .main-pic {
        height: clamp(300px, 35vh, 500px);
    
    }
}
.aux-pic-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aux-pics {
    height: clamp(50px, 10vh,100px);
    margin: 8px;
}

.project-words-wrapper {
    display: flex;
    background-color: #5a5959;
    padding: 10px;
    border-radius: 2%;
}

.q1, .q2, .q3 {
    margin-bottom: 15px;
}

mat-list-item {
    padding: 0
}

.onboarding-process-text {
    margin: 0;
    margin-top: 15px;
}

.socials-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.upper-wrapper {
    display: flex;
    justify-content: center;
}

.filler {
    display: flex;
    flex: 1 1 auto;
}

.socials-img {
    height: 30px;
    
}