.lp-container {
    width: clamp(300px, 80vw, 1000px);
    margin: auto;
    text-align: center;
    margin-top: 30px;
    // background-color: green;
}

.tw {
    font-size: 30px;
    // padding: 15px;
    // padding-top: 500px;
    // margin-top: 5px;
}

.s1-container {
    background-color: #555555;
    border-radius: 10px;
}

.s1-container, .tier {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.main-img {
    width: clamp(300px, 50vw, 900px)
}