.lp-container {
    width: clamp(300px, 80vw, 1000px);
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.tw {
    font-size: 30px;
}

.s1-container {
    // background-color: #555555;
    border-radius: 10px;
}

.tier {
    margin: 30px 0;
}

.s1-container, .tier {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.main-img {
    width: clamp(300px, 50vw, 900px)
}

.s2-content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

mat-label {
    font-size: larger;
}