<div class="lp-container">
  <div class="s1-container tier">
    <h1 class="tw" #tw>Find Early Stage Web3 projects that need <br></h1>
    <img class="main-img" src="assets/landing-page-assets/prime-visual.png">
    <h3>We know starting is the hardest part, so we curate the best projects for Web3 contributors of all kinds.</h3>
  </div>
  <div class="s2-container tier">
    <h1>Live Demo: Colors</h1>
    <app-demo-project-card></app-demo-project-card>
  </div>
  <div class="s3-container tier">

  </div>
  <div class="s4-container tier">

  </div>
</div>
