.mat-card-outer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.main-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img {
    
    margin-bottom: 15px;
}

.main-img {
    border-radius: 5%;
    height: 320px;
}

.small-imgs-strip {
    display: flex;
    // justify-content: center;
    margin-bottom: 5px;
}

.small-img{
    height: 60px;
    margin-right: 15px;
    border-radius: 10%;
}

.project-name-wrapper {
    display: flex;
    // justify-content: center;
}

mat-card {
    margin: 15px;
}