<div class="mat-card-outer-container">
  <div *ngFor="let project of ProjectCardService.project$ | async; let i = index">
    <div class="mat-card-container" #card (mouseenter)="ProjectCardService.HoverIn(card)"
      (mouseleave)="ProjectCardService.HoverOut()" [id]='"card_"+i'>
      <mat-card class="the-mat-card">
        <div>
          <div class="main-img-wrapper">
            <img class="main-img"
              [src]="ProjectCardService.PicObj[card.id].selected === false ? project.pics_arr[0] : ProjectCardService.imagePath">
          </div>

          <div class="small-imgs-strip">
            <img class="small-img" (mouseenter)="ProjectCardService.changeTheImg(card, img0)"
              (mouseleave)="ProjectCardService.defaultPath(card)" #img0 id="0" [src]="project.pics_arr[0]">
            <img class="small-img" (mouseenter)="ProjectCardService.changeTheImg(card, img1)"
              (mouseleave)="ProjectCardService.defaultPath(card)" #img1 id="1" [src]="project.pics_arr[1]">
            <img class="small-img" (mouseenter)="ProjectCardService.changeTheImg(card, img2)"
              (mouseleave)="ProjectCardService.defaultPath(card)" #img2 id="2" [src]="project.pics_arr[2]">
          </div>
          <div class="project-name-wrapper">
            <h1 class="project-name">
              {{project.project_name}}</h1>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
