<ng-container *ngIf="this.EditProfStepperService.secondChoice === 'Change your Email'">
  <button mat-raised-button (click)="EditNameAndEmail.sendEmailLink()">Verify that it's you</button>
</ng-container>
<ng-container *ngIf="this.EditProfStepperService.secondChoice === 'Change your Name'">
  <app-edit-account-name></app-edit-account-name>
</ng-container>
<!-- *ngIf="this.EditProfStepperService.secondChoice === 'View Project Interests'" -->
<ng-container
  *ngIf="this.EditProfStepperService.secondChoice === 'View Project Interests' || this.EditProfStepperService.secondChoice === 'View Skillsets' ">
  <app-edit-user-preferences></app-edit-user-preferences>
</ng-container>
