<mat-card class="mat-card-container">
  <button class="back-btn" mat-icon-button (click)="this.StepperService.goBack(stepper)">
    <img src="assets/edit-profile-assets/blue-back-arrow-icon.svg">
  </button>
  <form class="form-container" [formGroup]="CreateUser" #profileFrom="">
    <div class="form-field">
      <mat-label class="mat-label">
        <h3>What's your First Name?</h3>
      </mat-label>
      <mat-form-field class='mat-form-field' [formGroup]="CreateUser">
        <input maxlength="25" class="input" matInput formControlName="name" placeholder="your name here">
      </mat-form-field>
    </div>
    <!-- <mat-form-field class="mat-chip-list-container"> -->
    <h4 class="mat-label">What Type of Projects are You Intersted In? [select 1-3]</h4>
    <mat-chip-list class="mat-chip-list" selectable multiple formControlName="niches">
      <app-niche-chips-list>
      </app-niche-chips-list>
    </mat-chip-list>
    <!-- </mat-form-field> -->
    <!-- <mat-form-field [formGroup]="CreateUser" class="mat-chip-list-container"> -->
    <h4 class="mat-label">What Roles Are You looking for? [select 1-2]</h4>
    <mat-chip-list class="mat-chip-list" selectable multiple="3" formControlName="skillset">
      <app-skills-chips-list>
      </app-skills-chips-list>
    </mat-chip-list>
    <!-- </mat-form-field> -->
    <div class="submit-btn-wrapper">
      <button type="button"
        [disabled]="(chipsService.isInLoginRange() === false || RegisterService.nameIsFilledOut(name) === false)? true: false"
        (click)="RegisterService.onUserSubmit(name)" routerLink="/" mat-raised-button type="submit"
        class="submit-btn">Create Profile</button>
    </div>
  </form>
</mat-card>
